<html>
    <head>
        <title>Simple Login HTML Demo!</title>
    </head>
    <body>
        <!-- Add User Form -->
        <p>Add User</p>
        <form>
            <input type="text" id="add-user-username" placeholder="Username" />
            <input type="password" id="add-user-password" placeholder="Password" />
            <input type="button" id="add-user-submit" value="Add User" />
        </form>
        <!-- Login Form -->
        <p>Login</p>
        <form>
            <input type="text" id="login-username" placeholder="Username" />
            <input type="password" id="login-password" placeholder="Password" />
            <input type="button" id="login-submit" value="Login" />
        </form>
    </body>
    <script src="static/index.js"></script>
</html>
